biopython==1.87
certifi==2026.4.22
charset-normalizer==3.4.7
citeable==2026.3.11b1
cloudpickle==3.1.2
cogent3==2026.4.20a0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
DendroPy==5.0.8
ete3==3.1.3
fonttools==4.62.1
idna==3.13
kiwisolver==1.5.0
llvmlite==0.47.0
loky==3.5.6
matplotlib==3.10.9
numba==0.65.1
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pillow==12.2.0
piqtree==0.8.2
psutil==7.2.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
scinexus==2026.4.25
scipy==1.17.1
scitrack==2024.10.8
seaborn==0.13.2
six==1.17.0
stevedore==5.7.0
tqdm==4.67.3
typeguard==4.5.1
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0